<div class="row">
    <form class="col s12" name="form" method="POST">
      <div class="row">
        <div class="input-field col s3">
          <input placeholder="Placeholder" name="name" id="first_name" type="text" class="validate">
          <label for="first_name">Name</label>
          </div>
        </div>
        <div class="row">
        <div class="input-field col s3">
          <input id="birth-date" type="date" name="date" class="validate">
          <label for="birth-date">Birth Date</label>
        </div>
      </div>
     
      <div class="row">
        <div class="input-field col s3">
          <input id="time" type="time" name="time" class="validate">
          <label for="time">Time of Birth</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input id="place" type="text" name="place" class="validate">
          <label for="place">Place Of Birth</label>
        </div>
      </div>    
      <button name="btn">Send</button>
    </form>
  </div>
