<div class="row">
    <form class="col s12" action="/params-question" name="params" method="POST">
      <div class="row">
        <h2>{{this.question}}</h2>
        <select name="select" id="select">
          <option value="1">{{this.answer}}</option>
          <option value="2">{{this.answer}}</option>
          <option value="3">{{this.answer}}</option>
        </select>        
      </div>
 <button id="button-question" class="waves-effect waves-light btn-large">NEXT</button>

 </form>
</div>
        
  
