<div class="row-question">
   <form action="/questions" method="POST">
   <h2>{{question.title}}</h2>
   {{#each answers}}answer1
   <p>
      <label>
        <input name="group1" type="radio" class="inputAnswer"/>
        <span>{{this.title}}</span>
      </label>
    </p>
  <p><input type="submit" value="Выбрать"></p>
  </form> 
</div>
