<div class="row-question">
   <form action="/questions" method="POST">
   <h2>Mind Status</h2>
   <p>
      <label>
        <input name="group1" type="radio" class="inputAnswer"/>
        <span>Red</span>
      </label>
    </p>
   <p>
      <label>
        <input name="group1" type="radio" class="inputAnswer"/>
        <span>Red</span>
      </label>
    </p>
   <p>
      <label>
        <input name="group1" type="radio" class="inputAnswer"/>
        <span>Red</span>
      </label>
    </p>
   <p>
      <label>
        <input name="group1" type="radio" class="inputAnswer"/>
        <span>Red</span>
      </label>
    </p>    
    <p><input type="submit" value="Выбрать"></p>
  </form> 
</div>
