<script defer src='/javascripts/home.js'></script>
<div class='stat-container'>
  <div class='skills'>
    <h1 class='head-h border-bott'>mindset test</h1>
    <div class='skill'>
      <div class='skill-name'>The dreamer mindset</div>
      <div class='skill-bar'>
        <div class='skill-per' per='90%' style='max-width:90%'></div>
      </div>
    </div>

    <div class='skill'>
      <div class='skill-name'>The follower mindset
      </div>
      <div class='skill-bar'>
        <div class='skill-per' per='50%' style='max-width:55%'></div>
      </div>
    </div>
    <div class='skill'>
      <div class='skill-name'>The growth mindset
      </div>
      <div class='skill-bar'>
        <div class='skill-per' per='70%' style='max-width:70%'></div>
      </div>
    </div>

    <div class='skill'>
      <div class='skill-name'>The fear mindset
      </div>
      <div class='skill-bar'>
        <div class='skill-per' per='60%' style='max-width:60%'></div>
      </div>
    </div>

    <div class='skill'>
      <div class='skill-name'>The balance mindset
      </div>
      <div class='skill-bar'>
        <div class='skill-per' per='60%' style='max-width:75%'></div>
      </div>
    </div>

  </div>

  <div class='grafic'>
    <h1 class='head-h border-bott'>mindset test</h1>
    <canvas id='myChart'></canvas>
  </div>
</div>

