<script defer src='/javascripts/entryQuiz.js'></script>
<div class='quiz-wrapper'>
  <div id='birth-wrapper' class='hidden row'>
    <form class='col s12 offset-s4' name='birthData'>
      <div class='row'>
        <div class='input-field col s4'>
          <input
            placeholder='Placeholder'
            name='name'
            id='first_name'
            type='text'
            class='validate'
          />
          <label for='first_name'>Name</label>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s4'>
          <input id='birth-date' type='date' name='date' class='validate' />
          <label for='birth-date'>Birth Date</label>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s4'>
          <input id='time' type='time' name='time' class='validate' />
          <label for='time'>Time of Birth</label>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s4'>
          <input id='place' type='text' name='place' class='validate' />
          <label for='place'>Place Of Birth</label>
        </div>
      </div>
      <button
        id='main-button'
        class='waves-effect waves-light btn-large birthdata-btn'
        name='btn'
      >Send</button>
    </form>
  </div>
</div>
