<div class="container">
<div class="box">
<div class="photo">
  <img src="https://www.google.com/search?q=photos&sxsrf=AOaemvKct-B-Yo7jTreBgviNWy8EbDIitQ:1631875500752&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiCuaj86YXzAhVJl4sKHXqDDgwQ_AUoAXoECAEQAw&biw=1848&bih=981&dpr=1#imgrc=laRGnqPpWW0ovM" alt="photo">
</div>

<div class="card" >
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>

<div class="zodiac" style="width: 18rem;">
  <div class="zodiac-body">
    <h5 class="zodiac-title">Card title</h5>
    <h6 class="zodiac-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="zodiac-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</div>

<div class="skills">
  <div class="skill">
    <div class="skill-name">The dreamer mindset</div>
    <div class="skill-bar">
      <div class="skill-per" per="90%" style="max-width:90%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">The follower mindset.
</div>
    <div class="skill-bar">
      <div class="skill-per" per="50%" style="max-width:70%"></div>
    </div>
  </div>
   <div class="skill">
    <div class="skill-name">The growth mindset.
</div>
    <div class="skill-bar">
      <div class="skill-per" per="70%" style="max-width:70%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">The fear mindset.
</div>
    <div class="skill-bar">
      <div class="skill-per" per="60%" style="max-width:60%"></div>
    </div>
  </div>
