<div class='row'>
  <div class='s4 offset-s4'>
    <form action='/user/registration' method='POST'>
      <div class='row'>
        <div class='input-field col s4'>
          <input id='name' type='text' class='validate' name='name' />
          <label for='name'>name</label>
        </div>
      </div>
      <div class='row'>
        <div>
          <input
            id='email'
            type='email'
            class='validate c-dk-green'
            name='email'
          />
          <label for='email'>Email</label>
        </div>
      </div>
      <div class='row'>
        <div>
          <input
            id='password'
            type='password'
            class='validate'
            name='password'
          />
          <label for='password'>Password</label>
        </div>
        <button class='btn button' type='submit'>Submit</button>
      </div>
    </form>
  </div>
</div>
