<script defer src='/javascripts/registration.js'></script>
{{! 
<div class="row">
    <form class="col s12" action="/user/registration" name="regForm" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" name="name" type="text" class="validate" required>
          <label for="user_name">User Name</label>
        </div>
      
      <div class="row">
        <div class="input-field col s12">
          <input name="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
    <button id='registration-btn'>Register</button>
    </form>
  </div>
 }}
<link rel='stylesheet' href='/stylesheets/registration.css' />

<div class='quiz-wrapper'>
  <h1 class='head-h'>make a new account</h1>
  <div id='birth-wrapper' class='hidden row'>
    <form name='regForm' action='/user/registration' method='POST'>
      <div
        style='margin-bottom: 1.5rem!important'
        class='input-data form-floating mb-3 col'
      >
        <input
          style='color:white'
          placeholder='name'
          name='name'
          id='floatingName'
          type='text'
          class='form-control'
        />
        <label for='floatingInput'>username</label>
      </div>
      <div
        style='margin-bottom: 1.5rem!important'
        class='input-data form-floating mb-3 col'
      >
        <input
          style='color:white'
          type='email'
          name='email'
          class='form-control'
          id='floatingInput'
          placeholder='name@example.com'
        />
        <label for='floatingInput'>email address</label>
      </div>
      <div
        cstyle='margin-bottom: 1.5rem!important'
        class='form-floating mb-3 col'
      >
        <input
          style='color:white'
          type='password'
          name='password'
          class='form-control'
          id='floatingPassword'
          placeholder='Password'
        />
        <label for='floatingPassword'>password</label>
      </div>
      <button
        id='registration-btn'
        style='width:40%'
        type='button'
        class='birthdata-btn btn btn-outline-light'
      >create account</button>
    </form>
  </div>
</div>
