body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  /* background-image: url(/image/main.png); */
  color: black;
}

a {
  color: #00b7ff;
}

.nav-wrapper {
  text-align: center;
  padding: 0 2rem;
  opacity: 0.7;
}

#main-button {
  position: absolute;
  bottom: 20%;
  left: 45%;
  right: 50;
  margin: 0 auto;
}

.row-question {
  color: black;
  display: block;
  position: relative;
}

#select {
  display: inherit;
}
